body{
  font-family: 'Edu VIC WA NT Beginner', cursive;
  background: #eee3f1;
}


.header-div{
  display: flex;
  flex-direction: left;
  background: #192734;  
  /* #227c3c -- green */
  /* #eee3f1 -- white */
}

.logo-div{
  width: 20%;
}

.logo-div img{
  border-radius: 20px;
  border: 0px;
  background-color: transparent;
}

.nav-div{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.nav-div input {
  width: 50%;
  margin: 45px;
  box-sizing: border-box;
  background: #eee3f1;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 22px;
  border-radius: 25px;
  border: none;
  outline: none;
}

.nav-div a {
  padding: 60px 30px;
  color: #227c3c;
  font-size: 17px;
  font-weight: bolder;
  /* font-family: 'Edu VIC WA NT Beginner', cursive; */
}

.nav-div a:hover{
  color: #eee3f1;
}

.dashboard{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 100px auto;
}

.product-card{
  padding: 50px;
  cursor: pointer;
}

.product-content{
    padding: 5px 5px 30px 5px;
    border-radius: 3px;
    border: 1.5px solid #eee3f1;
    height: 45vh;
    width: 19vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #eee3f1; */
}

.product-card img{
  height: 25vh;
  width: 16vw;
  padding: 8px;
}